---
import Layout from "../../../layouts/Layout-back-office.astro"

const id = Astro.params.id;
const produit = await Astro.locals.pb.collection('produits').getOne(id!);
---

<Layout>
    <h1>{produit.titre}</h1>
</Layout>