---
import Layout from "../../../layouts/Layout-back-office.astro"

const id = Astro.params.id;
const projet = await Astro.locals.pb.collection('projets').getOne(id!);
---

<Layout>
    <h1>{projet.titre}</h1>
</Layout>