---
import Layout from "../layouts/Layout-back-office.astro";

const title = "Créer du contenu";

---

<Layout>
    <h1 class="text-3xl font-bold mb-6">{title}</h1>
    <p class="text-gray-700">Bienvenue dans l'espace de création de contenu. Utilisez les options du menu pour ajouter, supprimer ou modifier vos articles, événements et galeries.</p>
</Layout>
