---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1
    class="init-title absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl font-bold"
  >
    ⚠️ Initialisation du site ⚠️
  </h1>
</Layout>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline();

  tl.from(".init-title", {
    opacity: 0,
    y: 40,
    scale: 0.95,
    duration: 1,
    ease: "power3.out",
  }).to(".init-title", {
    scale: 1.03,
    duration: 0.8,
    repeat: -1,
    yoyo: true,
    ease: "power1.inOut",
  });
</script>
