---
export interface Props {
  formattedDate?: string;
  class?: string;
}

const { formattedDate = "", class: className = "" } = Astro.props;
---

<div class={`flex w-full items-end justify-between gap-4 mt-2 ${className}`}>
  {formattedDate && (
    <p class="text-xs leading-tight text-base-content/60">{formattedDate}</p>
  )}
  {!formattedDate && <div />}
  <div class="flex gap-2">
    <slot />
  </div>
</div>
