---
import logo from "../assets/logo.svg";
---

<footer class="bg-accent flex justify-between p-8 h-64">
  <div class="flex gap-4 items-center h-full">
    <p class="text-white font-black text-4xl h-full leading-snug">
      KIWANIS<br /> PAYS<br /> DE<br /> MONTBÉLIARD
    </p>
    <img src={logo.src} alt="logo kiwanis" class="h-full" />
  </div>
</footer>
