---
const hero = Astro.props;
---

<div style={`background-image: url("${hero.src}");`} class="w-[95dvw] h-[85dvh] bg-cover bg-center bg-no-repeat mx-auto rounded-box mt-28 flex flex-col justify-end px-16 py-44">
    <h1 class="text-white text-7xl font-bold" >Kiwanis Montbéliard Sochaux</h1>
    <p class="text-white text-2xl font-medium ">Servir les enfants du monde, au cœur de notre territoire</p>
</div>

