---
import crossCircle from "../assets/cross-circle.svg";

type User = {
  id: string;
  name?: string;
  email: string;
  created: string;
  verified: boolean;
  rejected?: boolean;
  rejectionDate?: string;
};

interface Props {
  user: User;
  currentUserId?: string;
  showUnverifyButton?: boolean;
}

const { user, currentUserId = '', showUnverifyButton = true } = Astro.props as Props;
---

<div class="flex flex-col md:flex-row md:items-center justify-between p-4 border border-success/20 rounded-xl transition-all duration-300" data-user-id={user.id} data-list-type="verified">
  <div>
    <p class="font-semibold">{user.name || 'Nom non spécifié'}</p>
    <p class="text-sm text-base-content/70">{user.email}</p>
  </div>
  {showUnverifyButton && user.id !== currentUserId && (
    <button
      class="btn btn-error btn-sm verify-action mt-4 md:mt-0 w-full md:w-auto flex gap-4 items-center"
      data-user-id={user.id}
      data-action="unverify"
      data-list-type="verified"
      type="button"
    >
      <img src={crossCircle.src} class="w-5 h-5 invert" />
      Retirer l'utilisateur de la liste
    </button>
  )}
</div>