---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import AlertProvider from "../components/AlertProvider.astro";

interface Props {
  includeAlertProvider?: boolean;
  includeManifest?: boolean;
}

const {
  includeAlertProvider = false,
  includeManifest = true,
} = Astro.props as Props;
---

<!doctype html>
<html lang="fr" data-theme="Kiwanis">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <slot name="head" />

    <link
      rel="preload"
      href="/fonts/merriweather/Merriweather_24pt-Regular-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/poppins/Poppins-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png" />

    {includeManifest && <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />}
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    {includeManifest && <link rel="manifest" href="/site.webmanifest" />}

    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Site officiel du Kiwanis Pays de Montbéliard"
    />
    <meta name="generator" content={Astro.generator} />

    <title>Kiwanis Pays de Montbéliard</title>
  </head>
  <body>
    {includeAlertProvider && <AlertProvider />}
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
